.sidebar {
    background-color: var(--custom-black);
    width: 117px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: absolute;
    top: 91px;
    bottom: 0;
}

.sidebar .icons {
    padding-top: 100px;
}

.sidebar .icons img{
    margin: 20px 26px;
    width: 64px;
    height: 64px;
}

.sidebar .copyright {
    padding-right: 280px;
    width: 152px;
    height: auto;
    color: var(--white);
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    transform: rotate(-90deg);
}