nav {
    background-color: var(--custom-black);
    display: flex;
    align-items: center;
    height: 91px;
    padding: 19px 29px 15px 29px;
}

nav .logo {
    padding: 0;
    margin: 0;
}

nav .logo img {
    width: 178px;
    height: auto;
}

nav .navBar {
    flex: 1;
    padding: 0;
    margin: 0;
}

nav .navBar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .navBar ul li {
    margin: auto;
}

nav .navBar ul li a{
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: var(--white);
    text-decoration: none;
}