.container {
    margin-left: 224px;
    margin-top: 68px;
}

.container h1 {
    color: var(--custom-black);
}

.container h1 span {
    color: var(--custom-red);
}

.container quote {
    margin-top: 41px;
}

.container .blocCharts {
    display: flex;
    align-items: stretch;
    margin-top: 77px;
}

.container .blocCharts .charts {
    flex: 75%;
    display: grid;
    grid-template-areas:
        "chartVertical chartVertical chartVertical"
        "chartVague chartPolygone chartCircle"
    ;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-right: 31px;
}

.container .blocCharts .charts .chart {
    background-color: var(--custom-light-gray);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}

#chartVertical {
    grid-area: chartVertical;
    height: 250px;
}
#chartVague {
    grid-area: chartVague;
}
#chartPolygone{
    grid-area: chartPolygone;
}
#chartCircle {
    grid-area: chartCircle;
}

.container .blocCharts .listInfos {
    flex: 25%;
    margin-right: 90px;
}

.listInfos .stat {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
    background-color: var(--custom-light-gray);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    margin-bottom: 39px;
}

.listInfos .stat .icon{
    width: 60px;
    height: 60px;
    margin-right: 24px;
}

.listInfos .stat .icon img{
    width: 100%;
    height: auto;
}

.listInfos .stat .infos h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.listInfos .stat .infos p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #74798C;
}