.radialBarChartContainer {
    position: relative;
}
.radialBarChartWrapper {
    position: relative;
    z-index: 1;
}
.scoreWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}